/* CSS reset */
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
}

      /* Fixed width container class that will "auto-center" itself */
.container {
        width: 1200px;
        margin: 0 auto;
}

.navbar {
        display: flex;
        height: 136px;
        background-color: black;
        color: rgb(236, 0, 236);
        align-items: center;
}

.navlist {
        display: flex;
        width: 450px;
}

.nav-li {
        margin: 2px 15px;
}

.logo {
        width: 100px;
        height: 100px;
        padding: 20px;
}

.btn {
        color: antiquewhite;
        border: 2px solid brown;
        background-color: chocolate;
        box-shadow: 2px 2px rgb(19, 0, 145);
        border-radius: 25px;
        font-size: 25px;
        margin: 20px;
}

.half-btn {
        height: 45px;
        width: 120px;
}

.whole-btn {
        height: 45px;
        width: 220px;
}
.row {
        display: flex;
        flex-direction: row;
        padding: 15px;
        background-color: yellowgreen;
}
.col {
        display: flex;
        flex-direction: column;
        padding: 15px;
        background-color: rgb(102, 50, 205);

}

.row p {

}

.col p {
        
}